.App {
  margin: 1rem 0;
}

.Message,
.List {
  margin-bottom: 1rem;
}

.container > .Fruit-card {
  width: 18rem;
}

.Fruit-card .card-title {
  font-size: 2rem;
  text-align: center;
}

.Fruit-cards {
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 4;
  }
}
